.product-card {
    background: wheat;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12);
    margin-bottom: 16px;
    padding: 16px;
    width: 300px;
}

.image {
    width: 100%;
    height: auto;
    border-radius: 4px;
}

.name {
    font-size: 12px;
    margin: 10px;
}

.description {
    font-size: 12px;
    color: black;
    margin-bottom: 10px;
}

.price {
    font-size: 20px;
    font-weight: bold;
    color: blue;
}

.action-btns button{
    background-color: rgb(152, 0, 0);
    color: white;
    border:none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}